/******* desktop version ***********/
@media screen and (min-width: 481px) {


 header{
  background: url("images/trailerpic1.jpeg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
 }

 h3{
  font-size: 2em;
  color: white;
 }
 a{
  text-decoration: none;

 }
 .tabs{
  display: flex;
  justify-content: space-around;
  background-color: #b80033;
  opacity: .6;

  list-style: none;
  height: 15vh;
 }

}


/******  mobile-friendly  ******/
@media screen and (max-width: 480px) {





}



/****  IPAD or big phones sized screens  *******/
@media screen and (min-width: 481px) {






}
